# Python TFM Section

On this section of the TFM I am pretending to do the preparation need for the model, for that:

1. Import all the .csv created on the R section to unify them 
2. Set up a unique data frame where we will have all the variables and information required to the regression model 
3. Compare several models and use the most suitable for this case of study
4. Train and Test the final model and set it up implemented
5. Final conclusions

In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

In [65]:
!conda install --yes pathlib 
#$ python -m pip install pathlib

Collecting package metadata: ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\ES71531200G\AppData\Local\Continuum\anaconda3

  added / updated specs:
    - pathlib


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    pathlib-1.0.1              |           py37_1          28 KB
    ------------------------------------------------------------
                                           Total:          28 KB

The following NEW packages will be INSTALLED:

  pathlib            pkgs/main/win-64::pathlib-1.0.1-py37_1



Downloading and Extracting Packages

pathlib-1.0.1        | 28 KB     |            |   0%
pathlib-1.0.1        | 28 KB     | ####2      |  43%
pathlib-1.0.1        | 28 KB     | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

In [67]:
from pathlib import Path

In [94]:
#Defining path to files from the imports folder
%pwd

file1 = "COSTES_E4E_EUROS.csv"
file2 = "LIQUIDACIONES_EUROS.csv"
file3 = "NUCLEAR_WASTES_EUROS.csv"

file5 = "LIQUIDACIONES_MWH.csv"

File_list = [file1, file2, file3]
del(file1,file2,file3,file4,file5)

NameError: name 'file4' is not defined

In [95]:
File_list

['COSTES_E4E_EUROS.csv', 'LIQUIDACIONES_EUROS.csv', 'NUCLEAR_WASTES_EUROS.csv']

In [48]:
#file1 = "C:\\Users\\ES71531200G\\Desktop\\Data Science\\00.TFM\\Outputs\\COSTES_E4E_EUROS.csv"
file2 = "..\Outputs\COSTES_E4E_EUROS.csv"

In [49]:
#Importing directly with the read_csv function retrieves an error due to the encoding used by R during the exportation
#The parametres encoding and sep solve the probem

In [53]:
a = %pwd
print(a)
file2

C:\Users\ES71531200G\Desktop\Data Science\00.TFM

'LIQUIDACIONES_EUROS.csv'

In [54]:
df1 = pd.read_csv(file2, sep = ';', header = None , encoding = "ISO-8859-1")
df1.head()

C:\Users\ES71531200G\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (0,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,0,1,2,3,4,5,6,7,8,9,10
0,FC_PERIODO,ID_UPR,ID_SOCIEDAD_AGENTE,ID_GRUPO_EMPRESARIAL,ID_TECNOLOGIA,ID_RDLCN,ID_MERCADO_ELECTRICO,ID_GRUPO,ID_CONTRATO_BILATERAL,I_N_TOT,ID_UNIDAD
1,201701,ACE3,IBEG,IBERDROLA,GN,NO,Banda,POOL,NaN,9175.7,EUROS
2,201701,ACE3,IBEG,IBERDROLA,GN,NO,G. Desvios,POOL,NaN,100696.62,EUROS
3,201701,ACE3,IBEG,IBERDROLA,GN,NO,G. Potencia Pagos,POOL,NaN,196590.72,EUROS
4,201701,ACE3,IBEG,IBERDROLA,GN,NO,I. G. Desvíos y Terciaria,POOL,NaN,-2831.31,EUROS

In [69]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219772 entries, 0 to 219771
Data columns (total 11 columns):
0     219772 non-null object
1     219772 non-null object
2     219772 non-null object
3     219772 non-null object
4     219772 non-null object
5     219772 non-null object
6     219772 non-null object
7     219772 non-null object
8     7104 non-null object
9     219772 non-null object
10    219772 non-null object
dtypes: object(11)
memory usage: 18.4+ MB

In [70]:
for file in File_list:
    print (file)

COSTES_E4E_EUROS.csv
LIQUIDACIONES_EUROS.csv
LIQUIDACIONES_MWH.csv
NUCLEAR_WASTES_EUROS.csv